.details {
    background: black;
}

.details h1 {
    color: white;
    padding-top: 50px;
}

.details .return{
    color: white;
}
.details .content {
    display: flex;
}

.details .content .text {
    flex-direction: inherit;
    width: 500px;
    height: 200px;
    color: whitesmoke;
    margin: auto;
}
.details .content .cover {
    flex-direction: column;
    padding: 20px 10px 40px ;
    width: 45%;
    height: 25%;
    margin: auto;
} 


@media only screen and (max-width: 600px) {

    .details .content{
        flex-direction: column;
    }
  }