.Details {
    background: black;
}

.Details .title {
    color: white;
    padding-top: 50px;
}

.Details .return{
    color: white;
}
.Details .content {
    display: flex;
}

.Details .content .text {
    flex-direction: inherit;
    width: 500px;
    height: 200px;
    color: white;
    margin: auto;
}
.Details .content .image {
    flex-direction: column;
    padding: 20px 10px 40px ;
    width: 45%;
    height: 25%;
    margin: auto;
} 


@media only screen and (max-width: 600px) {

    .Details .content{
        flex-direction: column;
    }
  }