.App {
  text-align: center;
}

img{
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
 }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 }

.App-link {
  color: #61dafb;
 }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
 
.item {
  padding: 30px;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
 }

.overlay {
transition: bottom ease 1s;
position: absolute;
bottom: -130px;
left: 0;
width: 100%;
opacity: 0.6;
background-color: grey;  
 }

.item:hover .overlay{
   opacity: .6;
   bottom: 0;
 }